<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
        <h2>Welcome, {{club['email']}} </h2><a class="logout" href="{{url_for('logout')}}">Logout</a>

    {% with messages = get_flashed_messages()%}
    {% if messages %}
        <ul>
       {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
       </ul>
    {% endif%}
    <br>
    Points available: {{club['points']}}
    <form action="showSummary" method="post">
        <input type="hidden" name="email" value="{{club['email']}}"/>
        <button type="submit">Show competitions</button>
    </form>
    <h3>Clubs:</h3>
    <ul>
        {% for c in clubs%}
        <li>
            {{c['name']}}<br />
            Number of Points: {{c['points']}}
        </li>
        <hr />
        {% endfor %}
    </ul>
    {%endwith%}

</body>
</html>