<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
        <h2>Welcome, {{club['email']}} </h2><a class="logout" href="{{url_for('logout')}}">Logout</a>

    {% with messages = get_flashed_messages()%}
    {% if messages %}
        <ul>
       {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
       </ul>
    {% endif%}
    <br>
    Points available: {{club['points']}}
    <form action="showClubs" method="post">
        <input type="hidden" name="email" value="{{club['email']}}"/>
        <button type="submit">Show clubs</button>
    </form>
    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions%}
        <li>
            {{comp['name']}}<br />
            Date: {{comp['date']}}</br>
            Number of Places: {{comp['numberOfPlaces']}}
            {% if comp['date'] > date %}
                {%if comp['numberOfPlaces']|int >0%}
                <a class="{{comp['name']}}" href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
                {%endif%}
            {%else%}
                <b>COMPLETED</b>
            {%endif%}
        </li>
        <hr />
        {% endfor %}
    </ul>
    {%endwith%}

</body>
</html>